.contact-container {
    min-height: 100vh;
    background-color: #22291F;
    padding: 120px 0px;
    position: relative;
    overflow: hidden;
}

.contact-content {
    width: 50%;
    margin-inline: auto;
}

.contact-title {
    text-align: left;
    margin-bottom: 50px;
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    z-index: 1;
    position: relative;
}

.contact-title span {
    display: block;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 8px;
}

.contact-form {
    max-width: 800px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
}

.form-group {
    margin-bottom: 25px;
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group label {
    display: block;
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-group input,
.form-group textarea {
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.form-group input {
    height: 25px;
}

.form-group textarea {
    height: 150px;
    resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FF9900;
}

.submit-btn {
    background: #FF9900;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.submit-btn:hover {
    background: #db8301;
}

/* Lignes décoratives en arrière-plan */
.background-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-lines img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}